.list {
  display: flex;
  gap: 28px;
  padding: 0;
}
.item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  padding: 16px;
  border-radius: 8px;
}
.mainTitle {
  text-align: center;
  font-size: 40px;
  color: #434455;
}
.label {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
}
.textItem {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
}
